{% extends "layout.html" %}

{% block title %}Rate a Gym{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename = 'stars.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'upload.css') }}">
{% endblock %}

{% block body %}

    <h1>Review a Gym</h1>

    <form action = "{{ url_for('main_app.reviewgym') }}" method = "post" enctype="multipart/form-data">

        <div class='form row justify-content-center'>
            <div class = "form-group col-12 col-md-3 col-lg-2">
                <label>Choose Gym</label>
                <select class = "form-control" name = "gym_id" required>
                    <option value="">Select Gym</option>
                    {% for gym in gyms %}
                        <option value ="{{ gym.id }}"{% if request.form["gym_id"] == gym.id|string %} selected="selected"{% endif %}>{{ gym.gym }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-group col-12 col-md-6 col-lg-6'>
                <label for="customRange">Stay Length</label>
                <div class="form-row">
                    <div class="col">
                        <input type="range" class="custom-range" id="customRange" name="length_stay" min="0" max="50" value="{{request.form['length_stay'] or 0 }}" oninput="updateTextInput(this.value);" required>
                    </div>
                    <div class="col-auto">
                        <output name="OutputName" class="custom-range" id="OutputId" value="">{{request.form['length_stay'] or 0 }}</output>
                    </div>
                </div>
            </div>
            <div class='form-group col-12 col-md-3 col-lg-2'>
                <label>Unit of Time</label>
                <select id="inputTime1" class="form-control" name="unit_stay" required>
                    <option value="">Choose...</option>
                    <option value='Days'{% if request.form['unit_stay']=="Days" %} selected="selected"{% endif %}>Day(s)</option>
                    <option value='Weeks'{% if request.form['unit_stay']=="Weeks" %} selected="selected"{% endif %}>Week(s)</option>
                    <option value='Months'{% if request.form['unit_stay']=="Months" %} selected="selected"{% endif %}>Month(s)</option>
                    <option value='Years'{% if request.form['unit_stay']=="Years" %} selected="selected"{% endif %}>Year(s)</option>
                </select>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-info" type="button" id="clear-files">Clear Files</button>
                    </div>
                    <div class="custom-file">
                        <input type="file" id="upload-image" name="upload-image" class="custom-file-input"
                            accept=".jpg, .jpeg, .png, .gif" multiple>
                        <label class="custom-file-label" for="upload-image">Choose images to upload (PNG, JPG)</label>
                    </div>
                </div>
                <div class="preview">
                    <!-- <p style="border: none">No files currently selected for upload</p> -->
                </div>
                <div id="errors">
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class='form-group col-12 col-lg-6'>
                <div class="centered">
                    Rate the Training (Instruction, Trainers, Padwork, Sparring, Clinching, etc.):
                </div>
            </div>
            <div class='form-group col-12 col-lg-4 text-centered' style="text-align: right">
                <div class="centered">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio" name="rate_training" value="1" required{% if request.form["rate_training"]=="1" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio">1</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio2" name="rate_training" value="2"{% if request.form["rate_training"]=="2" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio2">2</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio3" name="rate_training" value="3"{% if request.form["rate_training"]=="3" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio3">3</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio4" name="rate_training" value="4"{% if request.form["rate_training"]=="4" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio4">4</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio5" name="rate_training" value="5"{% if request.form["rate_training"]=="5" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio5">5</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class='form-group col-12 col-lg-6'>
                <div class="centered">
                    Rate the Facilities (Equipment, Hygiene, Onsite Accommodations, etc.):
                </div>
            </div>
            <div class='form-group col-12 col-lg-4' style="text-align: right">
                <div class="centered">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio6" name="rate_facility" value="1" required{% if request.form["rate_facility"]=="1" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio6">1</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio7" name="rate_facility" value="2"{% if request.form["rate_facility"]=="2" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio7">2</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio8" name="rate_facility" value="3"{% if request.form["rate_facility"]=="3" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio8">3</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio9" name="rate_facility" value="4"{% if request.form["rate_facility"]=="4" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio9">4</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio10" name="rate_facility" value="5"{% if request.form["rate_facility"]=="5" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio10">5</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class='form-group col-12 col-lg-6'>
                <div class="centered">
                    Rate the Location/Price (Nearby Attractions/Housing/Transport/Food, etc.):
                </div>
            </div>
            <div class='form-group col-12 col-lg-4' style="text-align: right">
                <div class="centered">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio11" name="rate_locationcost" value="1" required{% if request.form["rate_locationcost"]=="1" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio11">1</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio12" name="rate_locationcost" value="2"{% if request.form["rate_locationcost"]=="2" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio12">2</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio13" name="rate_locationcost" value="3"{% if request.form["rate_locationcost"]=="3" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio13">3</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio14" name="rate_locationcost" value="4"{% if request.form["rate_locationcost"]=="4" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio14">4</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio15" name="rate_locationcost" value="5"{% if request.form["rate_locationcost"]=="5" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio15">5</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form row justify-content-center">
            <div class='form-group col-12 col-lg-6'>
                <div class="centered">
                    <b>Overall Rating (1 = Bad &#128542;, 3 = Ok &#128528;, 5 = Great! &#128513;): </b>
                </div>
            </div>
            <div class='form-group col-12 col-lg-4' style="text-align: right">
                <div class="centered">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio16" name="rate_overall" value="1" required{% if request.form["rate_overall"]=="1" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio16">1</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio17" name="rate_overall" value="2"{% if request.form["rate_overall"]=="2" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio17">2</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio18" name="rate_overall" value="3"{% if request.form["rate_overall"]=="3" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio18">3</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio19" name="rate_overall" value="4"{% if request.form["rate_overall"]=="4" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio19">4</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio20" name="rate_overall" value="5"{% if request.form["rate_overall"]=="5" %} checked{% endif %}>
                        <label class="custom-control-label" for="customRadio20">5</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class='form-group col-12 col-lg-10'>
                <textarea class="form-control" name="review" placeholder="Write your Review", rows="10" required>{{ request.form['review'] }}</textarea>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-12 col-lg-10 text-right">
                <input class="btn btn-secondary" type="reset" value="Reset">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename = 'upload.js') }}"></script>
{% endblock %}